.btn-agregar{
    text-align: end;
}

.btnDelete{
    background-color: #ec5d39;
    margin-left: 10px;
}

.thCedula{
    width: 100px;
}

.thAcciones{
    width: 60px;
}

.thServicio{
    width: 90px;
}


table {
    width: 90%;
    margin: 0 auto;
}

.btnEditar{
    padding-bottom: 10px;
}
