<div class="container-fluid">
    <div class="row justify-content-end d-flex btn-agregar">
      <div class="col-sm-12">
        <h1>Clientes</h1>
        <button mat-raised-button color="primary" >Agregar</button>
      </div>
    </div>
    <br>
    <div class="row" >
        <div class="col-sm-12 ">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >


                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="thCedula"> Cédula </th>
                    <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Dirección </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <ng-container matColumnDef="servicio">
                    <th mat-header-cell *matHeaderCellDef class="thServicio"> Servicio </th>
                    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" ><i class="far fa-eye"></i></button> </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="thAcciones"> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <i class="far fa-eye"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="btnEditar">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                            </mat-menu>
                        </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
