.nameOpe{
    color: black;
}

.mat-form-field{
    display: grid;
}

mat-radio-button{
    margin-left: 10px;
}

.container{
    background-color: transparent;
    box-shadow: none;
    width: 97%;

}

mat-card {
    border-radius: 30px;
    padding: 20px;
}