<div class="container">
  <h2>Nuevo Servicio</h2>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos generales
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <mat-card class="cardGeneral">
            <div class="row">
              <div class="col-md-12 col-sm-12">

                <form class="example-form">
                  <mat-form-field appearance="fill">
                    <mat-label>Nombre operario</mat-label>
                    <input matInput placeholder="Ex. Pizza" class="nameOpe" value="Eduar Javier Gónzales" disabled>
                  </mat-form-field>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <a mat-raised-button color="primary">Leer código QR</a>
                <!-- <qr-scanner [debug]="false" [canvasWidth]="1080" [canvasHeight]="720" [stopAfterScan]="true"
                            [updateTime]="500">
                        </qr-scanner> -->
                <zxing-scanner
                (scanSuccess)="onCodeResult($event)"></zxing-scanner>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="fill">
                  <mat-label>Sitio de recepción del servicio</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let sitio of sitios" [value]="sitio.value">
                      {{sitio.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-sm-12">
                <form class="example-form">
                  <mat-form-field appearance="fill">
                    <mat-label>Dirección</mat-label>
                    <input matInput class="nameOpe">
                  </mat-form-field>
                </form>
              </div>
              <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="fill">
                  <mat-label>Tipo de silla</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let silla of sillas" [value]="silla.value">
                      {{silla.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="fill">
                  <mat-label>Tipo de mantenimiento</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let mtto of mttos" [value]="mtto.value">
                      {{mtto.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-sm-12">
                <section class="example-section">
                  <mat-checkbox class="example-margin">Cambio de rodachinas</mat-checkbox>
                </section>
                <br>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Tradicional</mat-radio-button>
                  <mat-radio-button value="2">Bicolor</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-12 col-sm-12">
                <br>
                <section class="example-section">
                  <mat-checkbox class="example-margin">Cambio de cilindro</mat-checkbox>
                </section>
                <br>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Secretarial negro</mat-radio-button>
                  <mat-radio-button value="2">Secretarial cromado</mat-radio-button>
                  <mat-radio-button value="3">Cajero negro</mat-radio-button>
                  <mat-radio-button value="4">Cajero cromado</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-12 col-sm-12">
                <br>
                <section class="example-section">
                  <mat-checkbox class="example-margin">Cambio de plato</mat-checkbox>
                </section>
                <br>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Sencillo</mat-radio-button>
                  <mat-radio-button value="2">Secretarial</mat-radio-button>
                  <mat-radio-button value="3">Ecualizable</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-12 col-sm-12">
                <br>
                <section class="example-section">
                  <mat-checkbox class="example-margin">Tapizado</mat-checkbox>
                </section>
                <br>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Completo</mat-radio-button>
                  <mat-radio-button value="2">Solo asiento</mat-radio-button>
                  <mat-radio-button value="3">Solo espaldar</mat-radio-button>
                  <mat-radio-button value="2">Solo brazos</mat-radio-button>
                  <mat-radio-button value="3">Asiento-Brazo</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="col-md-6 col-sm-12">
          <mat-card class="cardGeneral">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="fill">
                  <mat-label>Material para el tapizado</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let material of materiales" [value]="material.value">
                      {{material.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="fill">
                  <mat-label>Color</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let color of colores" [value]="color.value">
                      {{color.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="fill">
                  <mat-label>Descripción de los colores</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-sm-12">
                <mat-label>Estado inicial de la silla</mat-label> <button mat-raised-button color="primary"
                  (click)="openDialog()">Abrir cámara</button>
              </div>

              <div class="col-md-12 col-sm-12">
                <form class="example-form">
                  <mat-form-field appearance="fill">
                    <mat-label>Costo total</mat-label>
                    <input matInput class="nameOpe">
                  </mat-form-field>
                </form>
              </div>
              <div class="col-md-12 col-sm-12">
                <form class="example-form">
                  <mat-form-field appearance="fill">
                    <mat-label>Anticipo</mat-label>
                    <input matInput class="nameOpe">
                  </mat-form-field>
                </form>
              </div>
              <div class="col-md-12 col-sm-12">
                <mat-label>Evidencia anticipo</mat-label>
                <button mat-raised-button color="primary" (click)="openDialog()">Abrir cámara</button>
              </div>
              <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="fill">
                  <mat-label>Forma de pago</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let pago of pagos" [value]="pago.value">
                      {{pago.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-12 col-sm-12">
                <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>

                <button (click)="clearPad()">Limpiar</button>
                <button color="secondary" (click)="savePad()">Guardar</button>
                <img src='{{ signatureImg }}' />
              </div>

              <div class="col-md-12 col-sm-12">
                <button mat-raised-button color="primary">Guardar</button>
              </div>

            </div>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Devolución de la silla
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <mat-card class="cardGeneral">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <form class="example-form">
                  <mat-form-field appearance="fill">
                    <mat-label>Responsable por parte del cliente</mat-label>
                    <input matInput class="nameOpe">
                  </mat-form-field>
                </form>
              </div>
              <div class="col-md-12 col-sm-12">
                <form class="example-form">
                  <mat-form-field appearance="fill">
                    <mat-label>Cargo del responsable</mat-label>
                    <input matInput class="nameOpe">
                  </mat-form-field>
                </form>
              </div>
              <div class="col-md-12 col-sm-12">
                <mat-label>Estado final de la silla</mat-label> <button mat-raised-button color="primary"
                  (click)="openDialog()">Abrir camára</button>
              </div>
              <div class="col-md-12 col-sm-12">
                <form class="example-form">
                  <mat-form-field appearance="fill">
                    <mat-label>Saldo pendiente</mat-label>
                    <input matInput class="nameOpe">
                  </mat-form-field>
                </form>
              </div>
              <div class="col-md-12 col-sm-12">
                <form class="example-form">
                  <mat-form-field appearance="fill">
                    <mat-label>Descuento</mat-label>
                    <input matInput class="nameOpe">
                  </mat-form-field>
                </form>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-card class="cardGeneral">
            <div class="row">

              <div class="col-md-12 col-sm-12">
                <form class="example-form">
                  <mat-slide-toggle>¿Cancela saldo pendiente?</mat-slide-toggle>
                </form>
              </div>

              <div class="col-md-12 col-sm-12">
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Fecha programada para el pago</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-12 col-sm-12">
                <canvas #canvas2 (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>

                <button (click)="clearPad2()">Limpiar</button>
                <button color="secondary" (click)="savePad2()">Guardar</button>
                <img src='{{ signatureImg2 }}' />
              </div>

              <div class="col-md-12 col-sm-12">
                <button mat-raised-button color="primary">Guardar</button>
              </div>

            </div>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalEntidad">
      <div class="modal-body justify-content-center">
        <h2>Agregar entidad</h2>
        <mat-form-field appearance="fill" class="nombre">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" required />
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
