.thAcciones{
    width: 60px;
}


.cardGeneral{
    width: 250px;
    margin: 0 auto;
}


.btn-agregar{
    text-align: end;
}

.servicios{
    text-align: center;
    margin-top: 15px;
}

.imgServicio{
    width: 200px;
}

.imgServicio2{
    width: 230px;
}
